<h2>
  {{ "This is under construct additional pylons" | upcase }}
</h2>

<div class="css-1g5hd05 efozuqw19">
  <div class="css-1oppih2 efozuqw18">
    <div display="inherit" class="css-b0qg1d eygig402">
      <div class="css-1gy6tz9 efozuqw1"><img
          src="/_next/static/media/whats-in-my-box-banner-desktop.60bbdc86.png"
          alt="Varieties of Japanese snacks included in TokyoTreat Subscription Box"
          loading="lazy"
          class="css-10sf166 e1rgk8430"></div>
    </div>
    <div class="css-4t0hwp efozuqw16">
      <div class="css-1u625we efozuqw17">
        <div class="css-1nevhkx efozuqw15">
          <h2>The Biggest Japanese Snack Box On The Planet!</h2>
          <div class="css-1c5nhte efozuqw14">
            <h4>
              <span class="emphasized">15-20
              </span>
              <div class="underlined-text">Full Size<img src="/_next/static/media/text-underline.564d9ee5.svg" class="css-1i9q7qz efozuqw13"></div>
              <!-- -->
              Japanese Snacks</h4>
          </div>
        </div>
      </div>
      <div class="css-11m45bv eygig400">
        <div class="css-hltamm efozuqw2"><img
            src="/_next/static/media/whats-in-my-box-banner-mobile.581704ab.png"
            alt="TokyoTreat What's in my box banner"
            loading="lazy"
            class="css-10sf166 e1rgk8430"></div>
      </div>
      <div class="css-1f0wguj efozuqw10">
        <div class="css-xnblle efozuqw9">
          <div class="css-19gftnx efozuqw8">
            <div class="css-1lk3j08 efozuqw7"><img
                src="/tokyotreat/assets/images/shared/whats-in-my-box/drink.svg"
                alt="Drink icon"
                class="css-1dlq80k efozuqw6"></div>
          </div>
          <div class="css-xcuda4 efozuqw5">
            <h3>Exclusive Japanese Drinks</h3>
            <div class="css-yk8je8 efozuqw4">Coke, Fanta, Ramune &amp; More!</div>
          </div>
        </div>
        <div class="css-xnblle efozuqw9">
          <div class="css-19gftnx efozuqw8">
            <div class="css-1lk3j08 efozuqw7"><img
                src="/tokyotreat/assets/images/shared/whats-in-my-box/ramen.svg"
                alt="Ramen icon"
                class="css-1dlq80k efozuqw6"></div>
          </div>
          <div class="css-xcuda4 efozuqw5">
            <h3>Japanese Instant Ramen</h3>
            <div class="css-yk8je8 efozuqw4">Tasty ramen, soba and udon!</div>
          </div>
        </div>
        <div class="css-xnblle efozuqw9">
          <div class="css-19gftnx efozuqw8">
            <div class="css-1lk3j08 efozuqw7"><img
                src="/tokyotreat/assets/images/shared/whats-in-my-box/kitkat.svg"
                alt="Kitkat icon"
                class="css-1dlq80k efozuqw6"></div>
          </div>
          <div class="css-xcuda4 efozuqw5">
            <h3>Rare Japanese KitKat Flavors</h3>
            <div class="css-yk8je8 efozuqw4">Japan-exclusive and seasonal KitKats!</div>
          </div>
        </div>
        <div class="css-xnblle efozuqw9">
          <div class="css-19gftnx efozuqw8">
            <div class="css-1lk3j08 efozuqw7"><img
                src="/tokyotreat/assets/images/shared/whats-in-my-box/chips.svg"
                alt="Chips icon"
                class="css-1dlq80k efozuqw6"></div>
          </div>
          <div class="css-xcuda4 efozuqw5">
            <h3>Crunchy Chips, Salty Snacks</h3>
            <div class="css-yk8je8 efozuqw4">Japan exclusive savory snacks!</div>
          </div>
        </div>
        <div class="css-xnblle efozuqw9">
          <div class="css-19gftnx efozuqw8">
            <div class="css-1lk3j08 efozuqw7"><img
                src="/tokyotreat/assets/images/shared/whats-in-my-box/candy.svg"
                alt="Candy icon"
                class="css-1dlq80k efozuqw6"></div>
          </div>
          <div class="css-xcuda4 efozuqw5">
            <h3>Crazy Japanese Candy</h3>
            <div class="css-yk8je8 efozuqw4">Chocolate &amp; candy with awesome flavors!</div>
          </div>
        </div>
        <div class="css-xnblle efozuqw9">
          <div class="css-19gftnx efozuqw8">
            <div class="css-1lk3j08 efozuqw7"><img
                src="/tokyotreat/assets/images/shared/whats-in-my-box/cookie.svg"
                alt="Cookie icon"
                class="css-1dlq80k efozuqw6"></div>
          </div>
          <div class="css-xcuda4 efozuqw5">
            <h3>Cakes, Cookies + Breads</h3>
            <div class="css-yk8je8 efozuqw4">Japanese-style bakery goods!</div>
          </div>
        </div>
      </div>
      <div class="css-179o046 efozuqw12">
        <div class="css-cwv26 efozuqw11"><img
            src="/tokyotreat/assets/images/shared/whats-in-my-box/delivery.svg"
            alt="Delivery icon"
            width="33"
            height="32"
            class="css-10sf166 e1rgk8430"><span>Worldwide Express Delivery
          </span>
        </div>
        <div class="css-cwv26 efozuqw11"><img
            src="/tokyotreat/assets/images/shared/whats-in-my-box/allergen-info.svg"
            alt="Complete Allergen Info icon"
            width="33"
            height="32"
            class="css-10sf166 e1rgk8430"><span>Complete Allergen Info</span>
        </div>
        <div class="css-cwv26 efozuqw11"><img
            src="/tokyotreat/assets/images/shared/whats-in-my-box/guide.svg"
            alt="Guide icon"
            width="33"
            height="32"
            class="css-10sf166 e1rgk8430"><span>24 Page Culture Guide</span>
        </div>
      </div>
    </div>
  </div>
</div>